<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Mentor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing/landing.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="background"></div>
    <div class="overlay"></div>
    <div class="banner">
        <h2><span class="match">Match</span><span class="mentor">Mentor</span></h2>
        <div class="button-group">
            <a href="/login" class="button">Log in</a>
            <a href="/register" class="button">Register</a>
        </div>
    </div>
    <div class="welcome">
        Welcome to Match Mentor
        <div class="intro">
            <p>Match Mentor is a football analytics website</p>
            <p>that can help you maximize your progress </p>
            <p>by breaking down your matches. </p>
            <p>We aim to give everyone the same </p>
            <p>opportunities when it comes to</p>
            <p>developing within the sport and providing</p>
            <p>accessible support.</p>

        </div>
    </div>
</body>

</html>