<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchMentor</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/overallstats/overallstats.css') }}">
</head>

<body>
    <div class="background"></div>
    <div class="overlay"></div>
    <div class="banner">
        <h2><span class="match">Match</span><span class="mentor">Mentor</span></h2>
        <div class="button-group">
            <a href="/homepage" class="button">Back</a>
        </div>
    </div>
    <div class="title-heading">
        <h1>{{ username }}'s Overall Stats</h1>
    </div>
    <div class="container"></div>
        <div class="description-box">

        </div>
    </div>


</body>

</html>