<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stats/stats.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight" type="text/css">
    <title>MatchMentor</title>
</head>

<body>
    <div class="background"></div>
    <div class="overlay"></div>
    <div class="banner">
        <h2><span class="match">Match</span><span class="mentor">Mentor</span></h2>
        <div class="button-group">
            <a href="/homepage" class="button">Back</a>
        </div>
    </div>

    <div class="content-container">
        <div class="left-section">
            <div class="game-info-container">
                <h2>Game Stats</h2>
                <p>Date: {{ game.GameDate }}</p>
                <p>Team 1: {{ game.Team1 }} Team 2: {{ game.Team2 }}</p>
            </div>

            <div class="video-container">
                {% if video_path %}
                <video controls width="600">
                    <source src="{{ url_for('static', filename=video_path) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% else %}
                <p>No video available for this game.</p>
                {% endif %}
            </div>
        </div>

        <div class="graph-section">
            <div class="graph-container">
                <h3>Graphs</h3>
                <div class="graph-box">Graph 1</div>
                <div class="graph-box">Graph 2</div>
                <div class="graph-box">Graph 3</div>
                <div class="graph-box">Graph 4</div>
                <div class="graph-box">Graph 5</div>
            </div>
        </div>
    </div>
</body>

</html>